<%= render 'errors' %>

<%= form_with(model: @article, local: true) do |f| %>
  <p> <b><%= f.label :title %>:</b> <%= f.text_field :title, size: "32" %> </p>
  <p> <b><%= f.label :description %>:</b><br><%= f.text_area :description, size: "64x4" %> </p>
  <p> <%= f.submit %> </p>
<% end %>

